<div class="user-list container">
    <app-admin-content-header
        headerTitle="USERS"
    >
    </app-admin-content-header>
      <div class="filter">
        Search
        <input
            name='filter'
            type="text"
            [(ngModel)]="search"
            (input)="onSearch($event.target.value)"
        />
        <button
            class="btn btn-delete"
            [disabled]="disableDelete"
            (click)="deleteSelectedUsers()"
        >
          Delete
      </button>
        <button
            [routerLink]="'add-user'"
            class="btn btn-link btn-add"
        >
          Add User
        </button>
    </div>

<app-table
    [cssClass]="cssClass"
    [columnDefs]="columnDefs"
    [data]="users"
></app-table>
</div>
